<div class="luth_web_notification-fabricator">
    <div class="luth_web_notification-fabricator-form-group">
        <label class="luth_web_notification-fabricator-label">
            Title:
        </label>

        <input class="luth_web_notification-fabricator-input"
               @bind="_title" />
    </div>
    <div class="luth_web_notification-fabricator-form-group">
        <label class="luth_web_notification-fabricator-label">
            Message:
        </label>

        <input class="luth_web_notification-fabricator-input"
               @bind="_message" />
    </div>
    <div class="luth_web_notification-fabricator-form-group">
        <label class="luth_web_notification-fabricator-label">
            Lifespan (seconds):
        </label>

        <input class="luth_web_notification-fabricator-input"
               type="number"
               @bind="_lifespanInSeconds" />
    </div>
    <div class="luth_web_notification-fabricator-form-group">
        <label class="luth_web_notification-fabricator-label">
            Is Error:
        </label>

        <input class="luth_web_notification-fabricator-input"
               type="checkbox"
               @bind="_isError" />
    </div>
    
    <button @onclick="RegisterNotificationOnClick"
            class="luth_button">
        Notify
    </button>
</div>