@import '_content/Luthetus.Common/Luthetus.Common.bundle.scp.css';
@import '_content/Luthetus.Ide.RazorLib/Luthetus.Ide.RazorLib.bundle.scp.css';

/* /IconBadgeCase/IconBadgeDisplay.razor.rz.scp.css */
.luth_web_icon-badge[b-veb21o9r5j] {
    position: absolute;
    top: 0;
    line-height: 0.6;
    color: var(--luth_link-foreground-color);
}
/* /NotificationsCase/NotificationsInteractiveIconDisplay.razor.rz.scp.css */
.luth_web_notifications-interactive-icon[b-ol88lxa0gk] {
    position: relative;
}
/* /NotificationsCase/NotificationsViewDisplay.razor.rz.scp.css */
.luth_web_notifications-view-tabs[b-uuy43ch3hu] {
    margin-top: 8px;
    display: flex;
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 2px solid var(--luth_primary-border-color);
}

    .luth_web_notifications-view-tabs .luth_button[b-uuy43ch3hu] {
        margin-right: 8px !important;
    }

.luth_web_notifications-view-tab-entry-count[b-uuy43ch3hu] {
    margin: 0 5px;
}
