@using Luthetus.Ide.ClassLib.Context
@using Luthetus.Ide.ClassLib.Store.FolderExplorerCase
@using Luthetus.Common.RazorLib.Dropdown
@using Luthetus.Common.RazorLib.TreeView
@using Luthetus.Common.RazorLib.TreeView.Displays
@using Luthetus.Website.RazorLib.Facts

<div class="luth_web_repl-folder-explorer"
     style="@ElementDimensions.StyleString">

    @if (ReplState.RootDirectory is null)
    {
        <button class="luth_button"
                @onclick="InitializeFolderExplorerOnClickAsync">
            Initialize Folder Explorer
        </button>
    }
    else
    {
        <CascadingValue Name="OffsetPerDepthInPixels" Value="OffsetPerDepthInPixels">
            <TreeViewStateDisplay TreeViewStateKey="ReplFacts.TreeViewStateKeys.FolderExplorer"
                                  CssStyleString="height: 100%;"
                                  OnContextMenuFunc="OnTreeViewContextMenuFunc"
                                  TreeViewKeyboardEventHandler="_treeViewKeyboardEventHandler"
                                  TreeViewMouseEventHandler="_treeViewMouseEventHandler" />
        </CascadingValue>

        <DropdownDisplay DropdownKey="ReplFolderExplorerContextMenu.ContextMenuEventDropdownKey"
                         DropdownPositionKind="DropdownPositionKind.Unset"
                         CssStyleString="@ReplFolderExplorerContextMenu.GetContextMenuCssStyleString(_mostRecentTreeViewCommandParameter)">

            <ReplFolderExplorerContextMenu TreeViewCommandParameter="_mostRecentTreeViewCommandParameter" />
        </DropdownDisplay>
    }
</div>
