@using Luthetus.TextEditor.RazorLib.Group
@using Luthetus.Website.RazorLib.Facts

<div class="luth_web_repl-text-editor-group"
     style="@ElementDimensions.StyleString">

    <TextEditorGroupDisplay TextEditorGroupKey="ReplFacts.TextEditorGroupKeys.GroupKey" />
</div>
