@using Luthetus.Ide.ClassLib.Context
@using Luthetus.Ide.ClassLib.Store.FolderExplorerCase
@using Luthetus.Common.RazorLib.Dropdown
@using Luthetus.Common.RazorLib.TreeView
@using Luthetus.Common.RazorLib.TreeView.Displays

<div class="luth_web_repl-folder-explorer"
     style="@ElementDimensions.StyleString">

    @if (SemanticContextStateWrap.Value.DotNetSolutionSemanticContext is null)
    {
        <div>
            The Solution Explorer needs to be initialized first.
        </div>
    }
    else if (!IsInitialized)
    {
        <button class="luth_button"
                @onclick="InitializeSemanticExplorerOnClickAsync">
            Initialize Semantic Explorer
        </button>
    }
    else
    {
        <CascadingValue Name="OffsetPerDepthInPixels" Value="OffsetPerDepthInPixels">
            <TreeViewStateDisplay TreeViewStateKey="ReplSemanticExplorerTreeViewStateKey"
                                    CssStyleString="height: 100%;"
                                    OnContextMenuFunc="OnTreeViewContextMenuFunc"
                                    TreeViewKeyboardEventHandler="_treeViewKeyboardEventHandler"
                                    TreeViewMouseEventHandler="_treeViewMouseEventHandler" />
        </CascadingValue>

        <DropdownDisplay DropdownKey="ReplSemanticExplorerContextMenu.ContextMenuEventDropdownKey"
                         DropdownPositionKind="DropdownPositionKind.Unset"
                     CssStyleString="@ReplSemanticExplorerContextMenu.GetContextMenuCssStyleString(_mostRecentTreeViewCommandParameter)">

            <ReplSemanticExplorerContextMenu TreeViewCommandParameter="_mostRecentTreeViewCommandParameter" />
        </DropdownDisplay>
    }
</div>
