<div class="luth_web_repl-folder-explorer"
     style="@ElementDimensions.StyleString">

    @if (ReplState.RootDirectory is null)
    {
        <button class="luth_button">
            Initialize RootDirectory
        </button>
    }
    else
    {
        <div>
            RootDirectory is initialized
        </div>
    }
</div>
