@using Fluxor.Blazor.Web.Components;
@using Luthetus.Common.RazorLib.Resize
@using Luthetus.Ide.ClassLib.Store.EditorCase;
@using Luthetus.Website.RazorLib.Repl.FolderExplorer
@using Luthetus.Website.RazorLib.Repl.SolutionExplorer
@using Luthetus.Website.RazorLib.Repl.TextEditor
@using Luthetus.Website.RazorLib.ViewCase

@inherits FluxorComponent

<div class="luth_web_repl-container">
    @{ 
        var replState = ReplStateWrap.Value;
        var appOptionsState = AppOptionsStateWrap.Value;
    }

    <CascadingValue Value="replState">
        <CascadingValue Value="appOptionsState">
            @switch (ViewKind)
            {
                case ViewKind.Solution:
                    <ReplSolutionExplorerDisplay ElementDimensions="replState.ViewExplorerElementDimensions" />
                    break;
                case ViewKind.Folder:
                    <ReplFolderExplorerDisplay ElementDimensions="replState.ViewExplorerElementDimensions" />
                    break;
            }                    

            <ResizableColumn LeftElementDimensions="replState.ViewExplorerElementDimensions"
                             RightElementDimensions="replState.TextEditorGroupElementDimensions"
                             ReRenderFuncAsync="async () => await InvokeAsync(StateHasChanged)" />

            <ReplTextEditorGroupDisplay ElementDimensions="replState.TextEditorGroupElementDimensions" />
        </CascadingValue>
    </CascadingValue>
</div>