@using Luthetus.Ide.ClassLib.Context
@using Luthetus.Ide.ClassLib.Store.FolderExplorerCase
@using Luthetus.Common.RazorLib.Dropdown
@using Luthetus.Common.RazorLib.TreeView
@using Luthetus.Common.RazorLib.TreeView.Displays

<div class="luth_web_repl-folder-explorer"
     style="@ElementDimensions.StyleString">

    @if (ReplState.RootDirectory is null)
    {
        <button class="luth_button"
                @onclick="InitializeRootDirectoryOnClick">
            Initialize RootDirectory
        </button>
    }
    else
    {
        <CascadingValue Name="OffsetPerDepthInPixels" Value="OffsetPerDepthInPixels">
            <TreeViewStateDisplay TreeViewStateKey="ReplTreeViewStateKey"
                                    CssStyleString="height: 100%;"
                                    OnContextMenuFunc="OnTreeViewContextMenuFunc"
                                    TreeViewKeyboardEventHandler="_treeViewKeyboardEventHandler"
                                    TreeViewMouseEventHandler="_treeViewMouseEventHandler" />
        </CascadingValue>

        <DropdownDisplay DropdownKey="ReplContextMenu.ContextMenuEventDropdownKey"
                         DropdownPositionKind="DropdownPositionKind.Unset"
                         CssStyleString="@ReplContextMenu.GetContextMenuCssStyleString(_mostRecentTreeViewCommandParameter)">

            <ReplContextMenu TreeViewCommandParameter="_mostRecentTreeViewCommandParameter"/>
        </DropdownDisplay>
    }
</div>
