@using Fluxor.Blazor.Web.Components;
@using Luthetus.Common.RazorLib.Resize
@using Luthetus.Website.RazorLib.Repl.FolderExplorer
@using Luthetus.Website.RazorLib.Repl.SolutionExplorer
@using Luthetus.Website.RazorLib.Repl.TextEditor

@inherits FluxorComponent

<div class="luth_web_repl-container">
    
    @{ 
        var replState = ReplStateWrap.Value;
        var appOptionsState = AppOptionsStateWrap.Value;
    }

    <CascadingValue Value="replState">
        <CascadingValue Value="appOptionsState">
            <CascadingValue Value="ReplTextEditorGroupKey">
                <CascadingValue Name="ReplFolderExplorerTreeViewStateKey" Value="ReplFolderExplorerTreeViewStateKey">
                    <CascadingValue Name="ReplSolutionExplorerTreeViewStateKey" Value="ReplSolutionExplorerTreeViewStateKey">

                        @switch (ViewKind)
                        {
                            case Pages.ReplPage.ViewKind.Solution:
                                <ReplSolutionExplorerDisplay ElementDimensions="replState.ViewExplorerElementDimensions" />
                                break;
                            case Pages.ReplPage.ViewKind.Folder:
                                <ReplFolderExplorerDisplay ElementDimensions="replState.ViewExplorerElementDimensions" />
                                break;
                        }                    

                        <ResizableColumn LeftElementDimensions="replState.ViewExplorerElementDimensions"
                                         RightElementDimensions="replState.TextEditorGroupElementDimensions"
                                         ReRenderFuncAsync="async () => await InvokeAsync(StateHasChanged)" />

                        <ReplTextEditorGroupDisplay ElementDimensions="replState.TextEditorGroupElementDimensions" />
                    </CascadingValue>
                </CascadingValue>
            </CascadingValue>
        </CascadingValue>
    </CascadingValue>
</div>