@using Fluxor.Blazor.Web.Components;
@using Luthetus.Common.RazorLib.Resize

@inherits FluxorComponent

<div class="luth_web_repl-container">
    
    @{ 
        var replState = ReplStateWrap.Value;
        var appOptionsState = AppOptionsStateWrap.Value;
    }

    <CascadingValue Value="replState">
        <CascadingValue Value="appOptionsState">
            <CascadingValue Value="ReplTextEditorGroupKey">
                <CascadingValue Value="ReplTreeViewStateKey">
                    <ReplFolderExplorerDisplay ElementDimensions="_folderExplorerElementDimensions" />

                    <ResizableColumn LeftElementDimensions="_folderExplorerElementDimensions"
                                     RightElementDimensions="_textEditorGroupElementDimensions"
                                     ReRenderFuncAsync="async () => await InvokeAsync(StateHasChanged)" />

                    <ReplTextEditorGroupDisplay ElementDimensions="_textEditorGroupElementDimensions" />
                </CascadingValue>
            </CascadingValue>
        </CascadingValue>
    </CascadingValue>
</div>