@using Fluxor.Blazor.Web.Components;
@inherits FluxorComponent

@{
    var notificationRecordsCollection = NotificationRecordsCollectionWrap.Value;
}

<div class="luth_web_notifications-interactive-icon">
    Aaa
</div>