@using Fluxor.Blazor.Web.Components;
@using Luthetus.Common.RazorLib.Icons.Codicon
@using Luthetus.Website.RazorLib.IconBadgeCase
@inherits FluxorComponent

@{
    var notificationRecordsCollection = NotificationRecordsCollectionWrap.Value;
}

<button class="luth_web_notifications-interactive-icon @CssClassString"
        style="@CssStyleString"
        @onclick="ShowNotificationsViewDisplayOnClick">

    <IconBell/>

    <IconBadgeDisplay>
        @notificationRecordsCollection.Notifications.Count
    </IconBadgeDisplay>
</button>