/* _content/Luthetus.Website.RazorLib/IconBadgeCase/IconBadgeDisplay.razor.rz.scp.css */
.luth_web_icon-badge[b-b9w3z4743a] {
    position: absolute;
    top: 0;
    line-height: 0.6;
    color: var(--luth_link-foreground-color);
}
/* _content/Luthetus.Website.RazorLib/NotificationsCase/NotificationsInteractiveIconDisplay.razor.rz.scp.css */
.luth_web_notifications-interactive-icon[b-yzmb4yd0ck] {
    position: relative;
}
/* _content/Luthetus.Website.RazorLib/NotificationsCase/NotificationsViewDisplay.razor.rz.scp.css */
.luth_web_notifications-view-tabs[b-mobz8ep0iq] {
    margin-top: 8px;
    display: flex;
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 2px solid var(--luth_primary-border-color);
}

    .luth_web_notifications-view-tabs .luth_button[b-mobz8ep0iq] {
        margin-right: 8px !important;
    }

.luth_web_notifications-view-tab-entry-count[b-mobz8ep0iq] {
    margin: 0 5px;
}
/* _content/Luthetus.Website.RazorLib/Pages/ReplPage.razor.rz.scp.css */
.luth_web_repl[b-ae1ti9x2sk] {
    height: 100%;
}

.luth_web_repl-title[b-ae1ti9x2sk] {
    display: flex;
}

.luth_web_repl-title button[b-ae1ti9x2sk] {
    margin-left: 8px;
}
/* _content/Luthetus.Website.RazorLib/Repl/ReplContainerDisplay.razor.rz.scp.css */
.luth_web_repl-container[b-1w8fr1nd9u] {
    height: 100%;
    display: flex;
}
/* _content/Luthetus.Website.RazorLib/SearchBar/SearchBarDisplay.razor.rz.scp.css */
.luth_web_search-bar[b-egyu934j23] {
    position: relative;
}

    .luth_web_search-bar[b-egyu934j23]  .luth_dropdown-display {
        width: 100%;
    }

.luth_input[b-egyu934j23] {
    width: 100%;
}
/* _content/Luthetus.Website.RazorLib/Shared/MainLayout.razor.rz.scp.css */
.luth_web_layout[b-y5qr9u6cu0] {
    height: 100vh;
    padding-top: var(--luth_web_navbar-height);
}

.luth_web_body[b-y5qr9u6cu0] {
    height: 100%;
    background-color: var(--luth_primary-background-color);
    color: var(--luth_primary-foreground-color);
}
/* _content/Luthetus.Website.RazorLib/Shared/NavbarDisplay.razor.rz.scp.css */
.luth_web_navbar[b-upfxxoph79] {
    height: var(--luth_web_navbar-height);
    background-color: var(--luth_tertiary-background-color);
    color: var(--luth_tertiary-foreground-color);
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: var(--luth_web_navbar-z-index);
}

.luth_web_navbar-main[b-upfxxoph79] {
    display: flex;
}

[b-upfxxoph79] .luth_web_search-bar {
    width: var(--luth_web_navbar-search-input-width);
}

.luth_web_navbar-flex-content[b-upfxxoph79] {
    width: calc(100% - var(--luth_web_navbar-height));
    display: flex;
    justify-content: space-between;
}

.luth_web_navbar-flex-content-start[b-upfxxoph79] {
    display: flex;
    align-items: center;
    width: var(--luth_web_navbar-search-input-width);
}

.luth_web_navbar-flex-content-end[b-upfxxoph79] {
    display: flex;
    justify-content: end;
    align-items: center;
    width: calc(100% - var(--luth_web_navbar-search-input-width));
}

    .luth_web_navbar-flex-content-end .luth_web_navbar-item[b-upfxxoph79] {
        margin-right: 10px;
    }

.luth_web_navbar-menu-button[b-upfxxoph79] {
    display: none;
}

.luth_web_navbar-brand[b-upfxxoph79] {
    width: var(--luth_web_navbar-height);
    height: var(--luth_web_navbar-height);
}

    .luth_web_navbar-brand .luth_link[b-upfxxoph79] {
        width: 100%;
        height: 100%;
        display: flex;
    }

.luth_link.luth_active[b-upfxxoph79] {
    color: #c032e8;
}

@media (max-width: 700px) {
    .luth_web_navbar[b-upfxxoph79] {
        display: block;
    }

    .luth_web_navbar-main[b-upfxxoph79] {
        height: var(--luth_web_navbar-height);
        justify-content: space-between;
    }

    .luth_web_navbar-menu-button[b-upfxxoph79] {
        display: block;
    }

    .luth_web_navbar_collapsed[b-upfxxoph79] {
        display: none;
    }

    .luth_web_navbar-flex-content[b-upfxxoph79] {
        width: 100%;
        flex-direction: column;
        position: absolute;
        background-color: inherit;
        border-top: 4px solid var(--luth_primary-border-color);
        padding-top: 10px;
    }

    .luth_web_navbar-flex-content-start[b-upfxxoph79] {
        background-color: inherit;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .luth_web_navbar-flex-content-end[b-upfxxoph79] {
        background-color: inherit;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .luth_web_navbar-flex-content-end[b-upfxxoph79] {
        /* The search bar is not a 'luth_web_navbar-item' as of this comment (2023-06-23). Therefore it lacks spacing beneath it. */
        padding-top: 10px;
    }
        
        .luth_web_navbar-flex-content-end .luth_web_navbar-item[b-upfxxoph79] {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
        }
}
