@using Luthetus.Common.RazorLib.Options
@using Luthetus.Common.RazorLib.RenderTracker
@using Luthetus.TextEditor.RazorLib.Options

<div class="bsrl_settings">
    
    <div class="bsrl_settings-scope">
        <div class="bsrl_settings-scope-title bsrl_larger-font-size">
            Application Settings
        </div>
        
        <div class="bsrl_settings-scope-body luth_indent-child-content">
            
            <div class="bsrl_settings-scope-border"></div>
            
            <InputAppFontSize/>
            <InputAppFontFamily/>
            <InputAppIconSize/>
            <InputAppTheme/>
        </div>
    </div>
    
    <div class="bsrl_settings-scope">
        <div class="bsrl_settings-scope-title bsrl_larger-font-size">
            Text Editor Settings
        </div>
        
        <div class="bsrl_settings-scope-body luth_indent-child-content">
            
            <div class="bsrl_settings-scope-border"></div>
            
            <TextEditorSettingsPreview/>
            <InputTextEditorFontSize/>
            <InputTextEditorFontFamily/>
            <InputTextEditorCursorWidth/>
            <InputTextEditorShowNewLines/>
            <InputTextEditorUseMonospaceOptimizations/>
            <InputTextEditorShowWhitespace/>
            <InputTextEditorTheme/>
            <InputTextEditorKeymap/>
        </div>
    </div>
    
    <div class="bsrl_settings-scope">
        <div class="bsrl_settings-scope-title bsrl_larger-font-size">
            Misc
        </div>
        
        <div class="bsrl_settings-scope-body luth_indent-child-content">
            
            <div class="bsrl_settings-scope-border"></div>
            
            <RenderTrackerDialogButton/>
        </div>
    </div>
</div>