@page "/common"

<div class="luth_web_common">

    @{
        // TODO: Get local state
    }

    <div class="luth_web_common-title">
        Common
    </div>

    <div class="luth_web_common-body">
        TODO: Body
    </div>
</div>

