@page "/ide"

<div class="luth_web_ide">

    @{
        // TODO: Get local state
    }

    <div class="luth_web_ide-title">
        IDE
    </div>

    <div class="luth_web_ide-body">
        TODO: Body
    </div>
</div>