@page "/ide"
@using Luthetus.Ide.RazorLib.CompilerServiceCase

<div class="luth_web_ide">

    @{
        // TODO: Get local state
    }

    <div class="luth_web_ide-title">
        IDE
    </div>

    <div class="luth_web_ide-body">
        <CompilerServiceDisplay CompilerService="DotNetSolutionCompilerService" />
    </div>
</div>
