@page "/"
@page "/repl"

@using Luthetus.Website.RazorLib.Repl
@using Luthetus.Website.RazorLib.ViewCase;

<div class="luth_web_repl">

    @{
        var appOptionsState = AppOptionsService.AppOptionsStateWrap.Value;
        var renderBatchActiveViewKind = ActiveViewKind;
    }

    <div class="luth_web_repl-title"
         style="@GetTitleCssStyleString(appOptionsState)">
        Choose View:

        @{ var viewKindEnums = Enum.GetValues<ViewKind>(); }

        @foreach (var viewKindEnum in viewKindEnums)
        {
            <button class="luth_button @GetIsActiveCssClass(viewKindEnum, renderBatchActiveViewKind)"
                @onclick="() => SetActiveviewKindOnClick(viewKindEnum)">

                @switch (viewKindEnum)
                {
                    case ViewKind.Solution:
                        @: Solution
                        break;
                    case ViewKind.Folder:
                        @: Folder
                        break;
                    case ViewKind.Semantic:
                        @: Semantic
                        break;
                }
            </button>
        }
    </div>
    
    <div class="luth_web_repl-body"
         style="@GetBodyCssStyleString(appOptionsState)">

        <CascadingValue Value="renderBatchActiveViewKind">
             <ReplContainerDisplay/>
         </CascadingValue>
    </div>
</div>