@page "/textEditor"

<div class="luth_web_text-editor">

    @{
        // TODO: Get local state
    }

    <div class="luth_web_text-editor-title">
        Text Editor
    </div>

    <div class="luth_web_text-editor-body">
        TODO: Body
    </div>
</div>