/* _content/Luthetus.Ide.RazorLib/BackgroundServiceCase/BackgroundServicesDisplay.razor.rz.scp.css */
.luth_ide_background-services[b-kzs27e99wn] {
    height: 100%;
}
/* _content/Luthetus.Ide.RazorLib/CompilerServiceExplorer/Graphical/Obsolete/ObsoleteCompilerServiceExplorerGraphicalDisplay.razor.rz.scp.css */
.luth_ide_compiler-service-body[b-lggdvayc1l] {
}

/* _content/Luthetus.Ide.RazorLib/CompilerServiceExplorer/TreeView/CompilerServiceExplorerTreeViewDisplay.razor.rz.scp.css */
.luth_ide_compiler-explorer-tree-view[b-1irrvti8t8] {
    height: calc(100% - 32px);
}

.luth_ide_compiler-explorer-tree-view-body[b-1irrvti8t8] {
    height: calc(100% - 32px);
}
/* _content/Luthetus.Ide.RazorLib/CSharpProjectForm/CSharpProjectFormDisplay.razor.rz.scp.css */
.luth_ide_graphical-project-template-inputs[b-411oudgupt] {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.luth_ide_c-sharp-project-form-graphical-panel .luth_ide_c-sharp-project-form-middle-inputs[b-411oudgupt] {
    height: 50%;
    min-height: 200px;
    overflow-y: auto;
    position: relative;
}

.luth_ide_c-sharp-project-form-sticky[b-411oudgupt] {
    position: sticky;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    background-color: var(--luth_secondary-background-color);
    color: var(--luth_secondary-foreground-color);
}

.luth_ide_graphical-project-template-container[b-411oudgupt] {
    width: 100%;
}

.luth_ide_disable-display-flex[b-411oudgupt] {
    display: unset;
}

/* _content/Luthetus.Ide.RazorLib/CSharpProjectForm/ProjectTemplateDisplay.razor.rz.scp.css */
.luth_ide_project-template[b-64q8o79x83] {
    margin-bottom: 12px;
    background-color: var(--luth_tertiary-background-color);
    color: var(--luth_tertiary-foreground-color);
}

.luth_ide_project-template-title[b-64q8o79x83] {
    background-color: var(--luth_ide_section-title-background-color);
    color: var(--luth_primary-foreground-color);
    cursor: pointer;
}
    .luth_ide_project-template-title:hover[b-64q8o79x83] {
        background-color: var(--luth_active-no-focus-background-color);
    }

    .luth_ide_project-template-title.luth_active[b-64q8o79x83] {
        background-color: var(--luth_active-with-focus-background-color);
    }
/* _content/Luthetus.Ide.RazorLib/Notification/NotificationsDisplay.razor.rz.scp.css */
.luth_ide_folder-notifications[b-v4rwn0e2oc] {
    height: 100%;
}
/* _content/Luthetus.Ide.RazorLib/Settings/SettingsDisplay.razor.rz.scp.css */
.luth_ide_settings[b-euthw03sde] {
    padding: 5px;
}

.luth_ide_settings-scope-border[b-euthw03sde] {
    padding: 0 !important;
    background-color: var(--luth_primary-border-color);
    opacity: 0.7;
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 100%;
    margin-left: 6px;
}

.luth_ide_settings-scope-title[b-euthw03sde] {
    color: var(--luth_primary-emphasis-foreground-color);
}

.luth_ide_settings-scope-body[b-euthw03sde] {
    position: relative;
    padding-left: 12px;
}

.luth_ide_settings-scope-body > div[b-euthw03sde] {
    padding: 7px 5px;
    margin-bottom: 7px;
}
