/* _content/Luthetus.Ide.RazorLib/CompilerServiceExplorerCase/Graphical/Obsolete/ObsoleteCompilerServiceExplorerGraphicalDisplay.razor.rz.scp.css */
.luth_ide_compiler-service-body[b-zknvq95jz4] {
}

/* _content/Luthetus.Ide.RazorLib/CompilerServiceExplorerCase/TreeView/CompilerServiceExplorerTreeViewDisplay.razor.rz.scp.css */
.luth_ide_compiler-explorer-tree-view[b-dtyp2zrw2b] {
    height: calc(100% - 32px);
}

.luth_ide_compiler-explorer-tree-view-body[b-dtyp2zrw2b] {
    height: calc(100% - 32px);
}
/* _content/Luthetus.Ide.RazorLib/ContextCase/ContextBoundaryOverlay.razor.rz.scp.css */
.luth_ide_context-boundary-overlay[b-7mw0z0ivoi] {
    position: fixed;
    left: 0;
    top: 0;
}

.luth_ide_context-boundary-overlay:hover[b-7mw0z0ivoi] {
    background-color: aqua;
    opacity: 0.6;
    cursor: default;
}
/* _content/Luthetus.Ide.RazorLib/CSharpProjectFormCase/CSharpProjectFormDisplay.razor.rz.scp.css */
.luth_ide_graphical-project-template-inputs[b-dayrcn7xxe] {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.luth_ide_c-sharp-project-form-graphical-panel .luth_ide_c-sharp-project-form-middle-inputs[b-dayrcn7xxe] {
    height: 50%;
    min-height: 200px;
    overflow-y: auto;
    position: relative;
}

.luth_ide_c-sharp-project-form-sticky[b-dayrcn7xxe] {
    position: sticky;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    background-color: var(--luth_secondary-background-color);
    color: var(--luth_secondary-foreground-color);
}

.luth_ide_graphical-project-template-container[b-dayrcn7xxe] {
    width: 100%;
}

.luth_ide_disable-display-flex[b-dayrcn7xxe] {
    display: unset;
}

/* _content/Luthetus.Ide.RazorLib/CSharpProjectFormCase/ProjectTemplateDisplay.razor.rz.scp.css */
.luth_ide_project-template[b-o87886jrd4] {
    margin-bottom: 12px;
    background-color: var(--luth_tertiary-background-color);
    color: var(--luth_tertiary-foreground-color);
}

.luth_ide_project-template-title[b-o87886jrd4] {
    background-color: var(--luth_ide_section-title-background-color);
    color: var(--luth_primary-foreground-color);
    cursor: pointer;
}
    .luth_ide_project-template-title:hover[b-o87886jrd4] {
        background-color: var(--luth_active-no-focus-background-color);
    }

    .luth_ide_project-template-title.luth_active[b-o87886jrd4] {
        background-color: var(--luth_active-with-focus-background-color);
    }
/* _content/Luthetus.Ide.RazorLib/NotificationCase/NotificationsDisplay.razor.rz.scp.css */
.luth_ide_folder-notifications[b-8expycnlka] {
    height: 100%;
}
/* _content/Luthetus.Ide.RazorLib/SettingsCase/SettingsDisplay.razor.rz.scp.css */
.luth_ide_settings[b-mdg046tus0] {
    padding: 5px;
}

.luth_ide_settings-scope-border[b-mdg046tus0] {
    padding: 0 !important;
    background-color: var(--luth_primary-border-color);
    opacity: 0.7;
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 100%;
    margin-left: 6px;
}

.luth_ide_settings-scope-title[b-mdg046tus0] {
    color: var(--luth_primary-emphasis-foreground-color);
}

.luth_ide_settings-scope-body[b-mdg046tus0] {
    position: relative;
    padding-left: 12px;
}

.luth_ide_settings-scope-body > div[b-mdg046tus0] {
    padding: 7px 5px;
    margin-bottom: 7px;
}
