@using Luthetus.Common.RazorLib
@using Luthetus.Common.RazorLib.BackgroundTaskCase.Models;
@using Luthetus.Common.RazorLib.FileSystem.Models;
@using Luthetus.Common.RazorLib.Installation.Displays
@using Luthetus.Ide.RazorLib.DotNetSolutionCase.Displays
@using Luthetus.Ide.RazorLib.InstallationCase
@using Luthetus.Ide.RazorLib.InstallationCase.Displays
@using Luthetus.TextEditor.RazorLib

@inherits LayoutComponentBase

<Fluxor.Blazor.Web.StoreInitializer />


<div class="luth_web_test luth_ide_main-layout @UnselectableClassCss @AppOptionsService.ThemeCssClassString"
     style="@AppOptionsService.FontSizeCssStyleString @AppOptionsService.FontFamilyCssStyleString">
    
    <LuthetusCommonInitializer />
    <LuthetusTextEditorInitializer />
    <LuthetusIdeInitializer />
     
     <h1>Test.razor</h1>

    <button class="luth_button"
            @onclick="IncrementCount">

        _count:&nbsp;@_count
    </button>

    <hr/>

    <div class="luth_web_test-background-task-service">
        <div class="luth_web_test-background-task-service-title">
            BackgroundTaskService
        </div>
        
        <div class="luth_web_test-background-task-service-body">
            <div>
                CountOfBackgroundTasks:&nbsp;@ContinuousBackgroundTaskWorker.Queue.CountOfBackgroundTasks
            </div>
            
            <div>
                ExecutingBackgroundTask?.Name:&nbsp;@ContinuousBackgroundTaskWorker.Queue.ExecutingBackgroundTask?.Name
            </div>

            <div>
                <input @bind="_absolutePathString"
                       @bind:event="oninput" />

                <input type="checkbox"
                       @bind="_isDirectory"
                       @bind:event="oninput" />

                @{
                    var absolutePath = new AbsolutePath(
                        _absolutePathString, _isDirectory, EnvironmentProvider);
                }

                @* Useful *@
                <div>
                    <div>ExtensionNoPeriod:&nbsp;@absolutePath.ExtensionNoPeriod</div>
                    <div>FormattedInput:&nbsp;@absolutePath.FormattedInput</div>
                    <div>NameNoExtension:&nbsp;@absolutePath.NameNoExtension</div>
                    <div>NameWithExtension:&nbsp;@absolutePath.NameWithExtension</div>
                    <div>RootDrive:&nbsp;@absolutePath.RootDrive</div>
                </div>

                @* Not as Useful *@
                <div>
                    <div>AncestorDirectories:&nbsp;@absolutePath.AncestorDirectories</div>
                    <div>EnvironmentProvider:&nbsp;@absolutePath.EnvironmentProvider</div>
                    <div>ExactInput:&nbsp;@absolutePath.ExactInput</div>
                    <div>IsDirectory:&nbsp;@absolutePath.IsDirectory</div>
                    <div>IsRootDirectory:&nbsp;@absolutePath.IsRootDirectory</div>
                    <div>ParentDirectory:&nbsp;@absolutePath.ParentDirectory</div>
                    <div>PathType:&nbsp;@absolutePath.PathType</div>
                    <div>UsedDirectorySeparatorChar:&nbsp;@absolutePath.UsedDirectorySeparatorChar</div>
                </div>

                
                <br/>

                <button class="luth_button"
                        @onclick="ReadDirectoryAsync">

                    ReadDirectory
                </button>

                @if (_fileBag.Length == 0)
                {
                    @: No files
                }
                else
                {
                    <ul>
                        @foreach (var file in _fileBag)
                        {
                            <li>@file</li>
                        }
                    </ul>
                }
            </div>
        </div>
    </div>

    <hr/>

    <SolutionExplorerDisplay/>
</div>
