@inherits LayoutComponentBase

<PageTitle>Luthetus</PageTitle>

<div class="luth_web_layout @AppOptionsService.ThemeCssClassString"
     style="@AppOptionsService.FontSizeCssStyleString @AppOptionsService.FontFamilyCssStyleString">
    
    <Luthetus.Common.RazorLib.LuthetusCommonInitializer />
    <Luthetus.TextEditor.RazorLib.LuthetusTextEditorInitializer />

    <NavbarDisplay OpenSettingsDialogAction="OpenSettingsDialogOnClick" />

    <div class="luth_web_body">
        @Body
    </div>
</div>