@using Luthetus.Common.RazorLib.Icons.Codicon
@using Luthetus.Common.RazorLib.OutOfBoundsClick
@using Luthetus.Common.RazorLib.Store.ApplicationOptions;
@using Luthetus.Website.RazorLib.SearchBar;

@if (!_navbarIsCollapsed)
{
    <OutOfBoundsClickDisplay ZIndex="NAVBAR_Z_INDEX"
                             OnClickCallback="SetNavbarIsCollapsedToTrue" />
}

<div class="luth_web_navbar">
    @{
        var appOptionsState = AppOptionsService.AppOptionsStateWrap.Value;

        var iconSizeInPixels = appOptionsState.Options.IconSizeInPixels ??
            AppOptionsState.DEFAULT_ICON_SIZE_IN_PIXELS;

        var luthetusCommonIconSizeOverrideAsDouble = iconSizeInPixels *
            ICON_SIZE_MULTIPLIER;

        var luthetusCommonIconSizeOverrideAsInt = (int)luthetusCommonIconSizeOverrideAsDouble;
    }

    <CascadingValue Name="LuthetusCommonIconWidthOverride" Value="luthetusCommonIconSizeOverrideAsInt">
        <CascadingValue Name="LuthetusCommonIconHeightOverride" Value="luthetusCommonIconSizeOverrideAsInt">
            <div class="luth_web_navbar-main">
                <div class="luth_web_navbar-brand">
                    <a class="luth_web_link"
                       href="/">

                        <CascadingValue Name="LuthetusCommonIconWidthOverride" Value="NAVBAR_HEIGHT_IN_PIXELS">
                            <CascadingValue Name="LuthetusCommonIconHeightOverride" Value="NAVBAR_HEIGHT_IN_PIXELS">
                                <IconCSharpClass />
                            </CascadingValue>
                        </CascadingValue>
                    </a>
                </div>

                <button class="luth_button luth_web_navbar-menu-button"
                        @onclick="() => _navbarIsCollapsed = !_navbarIsCollapsed">
                    <IconMenu />
                </button>
            </div>

            <div class="luth_web_navbar-flex-content @NavbarIsCollapsedCssClassString">
                <div class="luth_web_navbar-flex-content-start">
                    <SearchBarDisplay />
                </div>

                <div class="luth_web_navbar-flex-content-end"
                     @onclick="SetNavbarIsCollapsedToTrue">

                    <a class="luth_web_link luth_web_navbar-item"
                       href="repl">
                        REPL
                    </a>

                    <a class="luth_web_link luth_web_navbar-item"
                       href="common">
                        Common
                    </a>

                    <a class="luth_web_link luth_web_navbar-item"
                       href="textEditor">
                        Text Editor
                    </a>

                    <a class="luth_web_link luth_web_navbar-item"
                       href="ide">
                        IDE
                    </a>

                    <button class="luth_button luth_web_navbar-item"
                            @onclick="OpenSettingsDialogAction.Invoke">
                        <IconSettingsGear />
                    </button>

                    <button class="luth_button luth_web_navbar-item"
                            @onclick="ShowInputFileDialogOnClick">
                        <IconFolder />
                    </button>
                </div>
            </div>
        </CascadingValue>
    </CascadingValue>
</div>