@using Luthetus.Common.RazorLib.Icons.Codicon

<div class="top-row px-4">
    <div class="bsrl_justify-space-between">
        <div class="bsrl_left-section"
             title="Work In Progress">
            Demo v7.1.0
        </div>
                
        <div class="bsrl_right-section">
            <a href="https://github.com/Luthetus/Luthetus.TextEditor"
               target="_blank"
               style="margin-right: 5px;">
                <CascadingValue Name="LuthetusCommonIconWidthOverride" Value="28">
                    <CascadingValue Name="LuthetusCommonIconHeightOverride" Value="28">
                        <IconGithub/>
                    </CascadingValue>
                </CascadingValue>
            </a>

            <button class="bcrl_button"
                    style="display: inline-flex;"
                    @onclick="OpenSettingsDialogOnClick">
                Settings
            </button>
        </div>    
    </div>
</div>