@using Luthetus.Common.RazorLib.Icons.Codicon
@using Luthetus.Ide.RazorLib.Button
@using Luthetus.Common.RazorLib.RenderTracker

<button class="luth_button"
        @onclick="DispatchRegisterDialogRecordAction">
    <IconSettingsGear />
</button>
